{% extends "coffeeconnect/base.html" %}
{% load static %}


{% block content %}

		
			<div class="column">
				<h1>COFFEE CONNECT</h1>
				<p>The world's best tasting coffee</p>
				<a href = "#" id="button1" class = "button1">Order Now!</a>
			</div>
			
			<div class="column">
				<div class="card card1">
					<h5>FRAPPUCINO</h5>
					<p><br>The perfect blend of the bitterness and sweetness.</p>
				</div>
				<div class="card card2">
					<h5>FREEZE</h5>
					<p><br>Overload sweetness of chocolate.</p>
				</div>
				<div class="card card3">
					<h5>ICED TEA</h5>
					<p><br>Refreshing taste that chase your thirst away.</p>
				</div>
				<div class="card card4">
					<h5>FOODS</h5>
					<p><br>Smell and taste that will make your stomach happy!</p>
				</div>
				
			</div>
	
{% endblock content %}